<%- include('./layout/cabecera.ejs') %> 
<div class="container   ">
    <h1 style="margin: 10px;" class="text-center" >Agregar Nuevo Cliente</h1>
</div>
<a style="margin: 10px;" href="/clientes" class="btn btn-secondary" type="button">regresar</a>
<form action="/guardarCliente" method="post" style="border-width: 1px; border-style: solid; border-radius: 5px; padding: 10px;">

    <div class="form-group">
        <label class="h2" for="nombre">nombre</label>
        <input id="nombreInput" class="form-control" type="text" name="nombre" placeholder="nombre">
    </div>

    <div class="form-group">
        <label class="h2" for="apellido">apellido</label>
        <input id="apellidoInput" class="form-control" type="text" name="apellido" placeholder="apellido">
    </div>

    <div class="form-group">
        <label class="h2" for="telefono">Telefono</label>
        <input id="telefonoInput" class="form-control" type="text" name="telefono" maxlength="8" onkeypress="return valideKey(event);" placeholder="11223344">
    </div>

    <div class="form-group">
        <label class="h2" for="correo">correo</label>
        <input id="correoInput" class="form-control" type="text" name="correo" placeholder="correo">
    </div>

    <div class="form-group">
        <label class="h2" for="municipio" class="form-label">Municipio </label>
        <select class="form-select" aria-label="Default select example" name="municipio">
        <% for( let municipio = 0; municipio < municipios.length; municipio++ ) { %>
            <% if (municipio==0) { %>
                <option selected value="<%= municipios[municipio].idMunicipio %>"><%= municipios[municipio].nombreMunicipio %></option>
            <% } else { %>
                <option value="<%= municipios[municipio].idMunicipio %>"><%= municipios[municipio].nombreMunicipio %></option>
             <% } %>

        <% } %>
        
    </select>

    </div>

    

    <button style="margin-top: 10px;" class="btn btn-primary" type="submit">Agregar</button>
</form>


<%- include('./layout/pie.ejs') %> 
<script type="text/javascript">
    function valideKey(evt){
        
        // code is the decimal ASCII representation of the pressed key.
        var code = (evt.which) ? evt.which : evt.keyCode;
        
        if(code==8) { // backspace.
          return true;
        } else if(code>=48 && code<=57) { // is a number.
          return true;
        } else{ // other keys.
          return false;
        }
    }
    </script> 