<%- include('./layout/cabecera.ejs') %> 

        <div class="container   ">
            <h1 style="margin: 10px;" class="text-center" >Tabla Clientes</h1>
        </div>
        <br>
        <a href="/" class="btn btn-secondary" type="button">regresar</a>
        <a href="/agregarCliente" class="btn btn-primary" type="button">Agregar Cliente</a>
        <br>
        <br>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Municipio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
    
                <% for( let cliente = 0; cliente < clientes.length; cliente++ ) { %>
    
                    <tr>
                        <td> <%= clientes[cliente].idCliente %>  </td>
                        <td> <%= clientes[cliente].nombreCliente %> </td>
                        <td> <%= clientes[cliente].apellidoCliente %> </td>
                        <td> <%= clientes[cliente].telefonoCliente %> </td>
                        <td> <%= clientes[cliente].correoCliente %> </td>
                        <td> <%= clientes[cliente].nombreMunicipio %> </td>
                        <td>
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <form class="form-inline" method="get" action="/editarCliente/<%= clientes[cliente].idCliente %>">
                                    <button class="btn btn-warning" type="submit">Editar</button>
                                </form>
                            </div>
                            ||
                                
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <form class="form-inline" method="post" action="/eliminarCliente/<%= clientes[cliente].idCliente %>">
                                    <button class="btn btn-danger" type="submit">Eliminar</button>
                                </form>
                            </div>
                        </td>
    
                    </tr>
    
                <% } %>
    
            </tbody>
        </table>

<%- include('./layout/pie.ejs') %> 